{% if user.is_authenticated %}
<h1>Hello {{ user.username }}</h1>
<form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <input type="submit" value="Logout">
</form>
<img src="{{ user.profile.profile_picture.url }}" alt="Avatar image" height="100">

{% for post in posts %}
<hr>
<p>@{{ post.author.username }} at {{ post.publication_date }}</p>
<a href="{% url 'post_detail' post.pk %}">View post details</a><br>
<img src="{{ post.image.url }}" alt="Post image" height="200">
<p>{{ post.description }}</p>
<hr>
{% endfor %}

{% else %}
<h1>Welcome to Memeo!</h1>
<h2><a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Sign up</a> to view some posts!</h2>
{% endif %}
